<div class="cataleg">
  <app-formulari-cerca></app-formulari-cerca>
  <app-preferits-panel></app-preferits-panel>
  
  <div class="preferits-info">
    <p>Preferits: {{ totalPreferits() }}</p>

    <div class="llista-preferits">
      <div class="mini-targeta" *ngFor="let p of preferits()">
        {{ p.nom }}
      </div>
    </div>
  </div>
  
<div *ngIf="false; else noCarregant">
    <div class="spinner">
      Carregant...
    </div>
  </div>

  <ng-template #noCarregant>
    <div *ngIf="errorMock(); else exit">
      <p class="missatge-error">{{ errorMock() }}</p>
      <button (click)="reintentar()">Reintentar</button>
    </div>

    <ng-template #exit>
      <cdk-virtual-scroll-viewport itemSize="120" style="height: 500px; display: block;">
        <div *cdkVirtualFor="let element of elementsMock()">
          <div class="targeta">
            <h3>{{ element.name }}</h3>
            <p>{{ element.notes }}</p>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-template>

  </ng-template>

</div>
