<h1>ClauSegura</h1>
<p>Núria Elies Sánchez</p>
<p>Exercici 1 EAC2</p>
<table border="1" style="margin: 20px auto; width: 80%; text-align: left;">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Valor</th>
    <th>Notes</th>
  </tr>

  <tr *ngFor="let item of elements">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.value }}</td>
    <td>{{ item.notes }}</td>
  </tr>
</table>

<p>Exercici 2 i 3 EAC2</p>

<barra-cerca (textCerca)="onTextCerca($event)"></barra-cerca>
<llista-elements [items]="elementsFiltrats"></llista-elements>

<p>Exercici 4 i 5 EAC2</p>

<form #f="ngForm" (ngSubmit)="filtrarAmbFormulari()">
  <label for="textCercaForm">Text de cerca</label>
  <input type="text"
         id="textCercaForm"
         name="textCercaForm"
         [(ngModel)]="textCercaForm"
         minlength="3"
         required
         #camp="ngModel"
		 aria-label="Escriu quina contrasenya necesites cerca"
         placeholder="Escriu mínim 3 caràcters">

  <p *ngIf="camp.invalid && camp.touched" style="color:red;">
És requeriex mínim 3 caracters
</p>

  <button type="submit" [disabled]="f.invalid">
    Cercar
  </button>

</form>
<div class="llista-container">
  <llista-elements [items]="elementsFiltrats"></llista-elements>
</div>


