h1 {
    color:purple;
	background-color:black;
	border:2px;
	border-radius:2px solid white;
	font-size:4rem;
	text-align:center;
}
p{
	color:pink;
	font-size:2rem;
	text-align:center;
	margin:3px;
}
input.ng-invalid.ng-touched {
  box-shadow: 0 0 5px red;
}

input.ng-valid.ng-touched {
  box-shadow: 0 0 5px green;
}
