h1 {
	color:purple;
	background-color:black;
	border:2px;
	border-radius:2px solid;
	border-color:white;
	font-size:4rem;
	text-align:right;
}
p{
	color:white;
	font-size:2rem;
	text-align:right;
	margin:3px;
}